<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>Enable Face ID keep assets secured</string>
	<key>NSCameraUsageDescription</key>
	<string>X Wallet need to access to Camera to scan QR Codes.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CryptoBalanceChainWidgetConfigurationIntent</string>
		<string>CryptoMultiChainWidgetConfigurationIntent</string>
		<string>CryptoWidgetConfigurationIntent</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Lexend-Semibold.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-Bold.ttf</string>
	</array>
</dict>
</plist>
